.logo {
    width: 250px;
    display: flex;
    height: 75px;
    margin-left: -50px;
    align-items: center;
    justify-content: center;
    background-color: #001529;
    span {
        display: block;
        width: 177px;
        height: 47px;
        background-color: #1a2d3f;
    }
}